<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFtTTItVZRMF95ub_w1eY-U37gLZVHFSI</string>
	<key>GCM_SENDER_ID</key>
	<string>620105275961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Patoaguila2011.walden-Eats-experimentan-</string>
	<key>PROJECT_ID</key>
	<string>walden-eats</string>
	<key>STORAGE_BUCKET</key>
	<string>walden-eats.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620105275961:ios:470d711f47f26952e7cbe8</string>
</dict>
</plist>